.vs/ApiEscape/xs/UserPrefs.xml
.vs/ApiEscape/xs/project-cache/ApiEscape-Debug.json
.vs/ApiEscape/xs/project-cache/ApiEscape-Release.json
.vs/ApiEscape/xs/sqlite3/db.lock
.vs/ApiEscape/xs/sqlite3/storage.ide
.vs/ApiEscape/xs/sqlite3/storage.ide-shm
.vs/ApiEscape/xs/sqlite3/storage.ide-wal
.vs/ApiTienda/DesignTimeBuild/.dtbcache
.vs/ApiTienda/v15/.suo
.vs/ApiTienda/v15/Server/sqlite3/db.lock
.vs/ApiTienda/v15/Server/sqlite3/storage.ide
.vs/ApiTienda/v15/Server/sqlite3/storage.ide-shm
.vs/ApiTienda/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
ApiEscape/bin/Debug/netcoreapp2.1/ApiTienda.deps.json
ApiEscape/bin/Debug/netcoreapp2.1/ApiTienda.dll
ApiEscape/bin/Debug/netcoreapp2.1/ApiTienda.pdb
ApiEscape/bin/Debug/netcoreapp2.1/ApiTienda.runtimeconfig.dev.json
ApiEscape/bin/Debug/netcoreapp2.1/ApiTienda.runtimeconfig.json
ApiEscape/bin/Release/netcoreapp2.1/ApiEscape.deps.json
ApiEscape/bin/Release/netcoreapp2.1/ApiEscape.dll
ApiEscape/bin/Release/netcoreapp2.1/ApiEscape.pdb
ApiEscape/bin/Release/netcoreapp2.1/ApiEscape.runtimeconfig.dev.json
ApiEscape/bin/Release/netcoreapp2.1/ApiEscape.runtimeconfig.json
ApiEscape/bin/Release/netcoreapp2.1/appsettings.Development.json
ApiEscape/bin/Release/netcoreapp2.1/appsettings.json
ApiEscape/bin/Release/netcoreapp2.1/Properties/launchSettings.json
ApiEscape/obj/ApiEscape.csproj.codegeneration.targets
ApiEscape/obj/ApiEscape.csproj.nuget.cache
ApiEscape/obj/ApiEscape.csproj.nuget.dgspec.json
ApiEscape/obj/ApiEscape.csproj.nuget.g.props
ApiEscape/obj/ApiEscape.csproj.nuget.g.targets
ApiEscape/obj/ApiTienda.csproj.nuget.cache
ApiEscape/obj/ApiTienda.csproj.nuget.g.props
ApiEscape/obj/ApiTienda.csproj.nuget.g.targets
ApiEscape/obj/project.assets.json
ApiEscape/obj/Debug/netcoreapp2.1/ApiEscape.assets.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiEscape.csproj.FileListAbsolute.txt
ApiEscape/obj/Debug/netcoreapp2.1/ApiEscape.Views.dll
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.AssemblyInfo.cs
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.AssemblyInfoInputs.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.assets.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.csproj.CoreCompileInputs.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.csproj.FileListAbsolute.txt
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.csprojAssemblyReference.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.dll
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.pdb
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.RazorAssemblyInfo.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.RazorAssemblyInfo.cs
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.RazorTargetAssemblyInfo.cache
ApiEscape/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ApiEscape/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ApiEscape/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.AssemblyInfo.cs
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.AssemblyInfoInputs.cache
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.assets.cache
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.csproj.FileListAbsolute.txt
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.csprojAssemblyReference.cache
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.dll
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.pdb
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.RazorAssemblyInfo.cache
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.RazorAssemblyInfo.cs
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.RazorTargetAssemblyInfo.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiEscape.RazorAssemblyInfo.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiEscape.RazorAssemblyInfo.cs
ApiEscapeRank/bin
ApiEscapeRank/obj
