.vs/ApiEscape/xs/UserPrefs.xml
.vs/ApiEscape/xs/project-cache/ApiEscape-Debug.json
.vs/ApiEscape/xs/project-cache/ApiEscape-Release.json
.vs/ApiEscape/xs/sqlite3/db.lock
.vs/ApiEscape/xs/sqlite3/storage.ide
.vs/ApiEscape/xs/sqlite3/storage.ide-shm
.vs/ApiEscape/xs/sqlite3/storage.ide-wal
.vs/ApiTienda/DesignTimeBuild/.dtbcache
.vs/ApiTienda/v15/.suo
.vs/ApiTienda/v15/Server/sqlite3/db.lock
.vs/ApiTienda/v15/Server/sqlite3/storage.ide
.vs/ApiTienda/v15/Server/sqlite3/storage.ide-shm
.vs/ApiTienda/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
ApiEscape/bin/Debug/netcoreapp2.1/ApiTienda.deps.json
ApiEscape/bin/Debug/netcoreapp2.1/ApiTienda.dll
ApiEscape/bin/Debug/netcoreapp2.1/ApiTienda.pdb
ApiEscape/bin/Debug/netcoreapp2.1/ApiTienda.runtimeconfig.dev.json
ApiEscape/bin/Debug/netcoreapp2.1/ApiTienda.runtimeconfig.json
ApiEscape/bin/Release/netcoreapp2.1/ApiEscape.deps.json
ApiEscape/bin/Release/netcoreapp2.1/ApiEscape.dll
ApiEscape/bin/Release/netcoreapp2.1/ApiEscape.pdb
ApiEscape/bin/Release/netcoreapp2.1/ApiEscape.runtimeconfig.dev.json
ApiEscape/bin/Release/netcoreapp2.1/ApiEscape.runtimeconfig.json
ApiEscape/bin/Release/netcoreapp2.1/appsettings.Development.json
ApiEscape/bin/Release/netcoreapp2.1/appsettings.json
ApiEscape/bin/Release/netcoreapp2.1/Properties/launchSettings.json
ApiEscape/obj/ApiEscape.csproj.codegeneration.targets
ApiEscape/obj/ApiEscape.csproj.nuget.cache
ApiEscape/obj/ApiEscape.csproj.nuget.dgspec.json
ApiEscape/obj/ApiEscape.csproj.nuget.g.props
ApiEscape/obj/ApiEscape.csproj.nuget.g.targets
ApiEscape/obj/ApiTienda.csproj.nuget.cache
ApiEscape/obj/ApiTienda.csproj.nuget.g.props
ApiEscape/obj/ApiTienda.csproj.nuget.g.targets
ApiEscape/obj/project.assets.json
ApiEscape/obj/Debug/netcoreapp2.1/ApiEscape.assets.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiEscape.csproj.FileListAbsolute.txt
ApiEscape/obj/Debug/netcoreapp2.1/ApiEscape.Views.dll
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.AssemblyInfo.cs
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.AssemblyInfoInputs.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.assets.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.csproj.CoreCompileInputs.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.csproj.FileListAbsolute.txt
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.csprojAssemblyReference.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.dll
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.pdb
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.RazorAssemblyInfo.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.RazorAssemblyInfo.cs
ApiEscape/obj/Debug/netcoreapp2.1/ApiTienda.RazorTargetAssemblyInfo.cache
ApiEscape/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ApiEscape/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ApiEscape/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.AssemblyInfo.cs
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.AssemblyInfoInputs.cache
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.assets.cache
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.csproj.FileListAbsolute.txt
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.csprojAssemblyReference.cache
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.dll
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.pdb
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.RazorAssemblyInfo.cache
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.RazorAssemblyInfo.cs
ApiEscape/obj/Release/netcoreapp2.1/ApiEscape.RazorTargetAssemblyInfo.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiEscape.RazorAssemblyInfo.cache
ApiEscape/obj/Debug/netcoreapp2.1/ApiEscape.RazorAssemblyInfo.cs
ApiEscapeRank/bin
ApiEscapeRank/obj
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win-x64
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win-x86
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1
EscapeRankAPI/bin/Debug/netcoreapp3.1/fr
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win
EscapeRankAPI/obj/Debug/netcoreapp3.1
EscapeRankAPI/bin/Debug/netcoreapp3.1/es
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win-x86/native
EscapeRankAPI/bin/Debug/netcoreapp3.1/ko
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win-arm64
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native
EscapeRankAPI/bin/Debug/netcoreapp3.1/cs
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1
EscapeRankAPI/bin/Debug/netcoreapp3.1/tr
EscapeRankAPI/bin/Debug/netcoreapp3.1/de
EscapeRankAPI/bin/Debug/netcoreapp3.1/zh-Hans
EscapeRankAPI/obj/Debug
EscapeRankAPI/bin/Debug/netcoreapp3.1/ja
EscapeRankAPI/bin/Debug/netcoreapp3.1/ru
EscapeRankAPI/bin
EscapeRankAPI/bin/Debug/netcoreapp3.1/pl
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win-x64/native
EscapeRankAPI/bin/Debug/netcoreapp3.1
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/unix/lib
EscapeRankAPI/bin/Debug/netcoreapp3.1/it
EscapeRankAPI/bin/Debug/netcoreapp3.1/Properties
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib
EscapeRankAPI/obj/Debug/netcoreapp3.1/staticwebassets
EscapeRankAPI/obj
EscapeRankAPI/bin/Debug/netcoreapp3.1/zh-Hant
EscapeRankAPI/bin/Debug
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/unix
EscapeRankAPI/bin/Debug/netcoreapp3.1/pt-BR
EscapeRankAPI/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
EscapeRankAPI/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/appsettings.Development.json
EscapeRankAPI/bin/Debug/netcoreapp3.1/appsettings.json
EscapeRankAPI/bin/Debug/netcoreapp3.1/Azure.Core.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Azure.Storage.Blobs.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Azure.Storage.Common.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/EscapeRankAPI.deps.json
EscapeRankAPI/bin/Debug/netcoreapp3.1/EscapeRankAPI.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/EscapeRankAPI.pdb
EscapeRankAPI/bin/Debug/netcoreapp3.1/EscapeRankAPI.runtimeconfig.dev.json
EscapeRankAPI/bin/Debug/netcoreapp3.1/EscapeRankAPI.runtimeconfig.json
EscapeRankAPI/bin/Debug/netcoreapp3.1/EscapeRankAPI.xml
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/MySqlConnector.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Pomelo.EntityFrameworkCore.MySql.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Pomelo.JsonObject.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
EscapeRankAPI/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
EscapeRankAPI/obj/Debug/netcoreapp3.1/staticwebassets/EscapeRankAPI.StaticWebAssets.Manifest.cache
EscapeRankAPI/obj/Debug/netcoreapp3.1/staticwebassets/EscapeRankAPI.StaticWebAssets.xml
EscapeRankAPI/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.AssemblyInfo.cs
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.AssemblyInfoInputs.cache
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.assets.cache
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.csproj.CopyComplete
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.csproj.CoreCompileInputs.cache
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.csproj.FileListAbsolute.txt
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.csprojAssemblyReference.cache
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.dll
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.genruntimeconfig.cache
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.MvcApplicationPartsAssemblyInfo.cache
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.MvcApplicationPartsAssemblyInfo.cs
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.pdb
EscapeRankAPI/obj/Debug/netcoreapp3.1/EscapeRankAPI.RazorTargetAssemblyInfo.cache
