<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/571587e9-a3bd-4ab9-950b-f8c123d9a087/resourceGroups/escaperank/providers/Microsoft.Web/sites/EscapeRankAPI</ResourceId>
    <ResourceGroup>escaperank</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://apiescaperank.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>apiescaperank.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EscapeRankAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EscapeRankAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>